
 <ion-view>
	<ion-content>
    <ion-list>
            <ion-item class="rj-item item-avatar-right">
                <div class="rj-contacts-pic rj-orange-bgc">
                    <i class="ion-aperture"></i>
                </div>
                <h2 class="item-title">Moments</h2>
                <img ng-src="img/docs/mcfly.jpg"  class="item-image bagge badge-assertive" >
            </ion-item>

            <div class="item-divider item-sm-divider"></div>
                <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-qr-scanner"></i>
                </div>
                <h2 class="item-title">Scan QR Code</h2>
            </ion-item>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-person-add"></i>
                </div>
                <h2 class="item-title">Shake</h2>
            </ion-item>
               
               <div class="item-divider item-sm-divider"></div>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-person-stalker"></i>
                </div>
                <h2 class="item-title">Peoply Nearby</h2>
            </ion-item>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-soup-can"></i>
                </div>
                <h2 class="item-title">Message in a Bottle</h2>
            </ion-item>
                        <div class="item-divider item-sm-divider"></div>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-green-bgc">
                    <i class="ion-xbox"></i>
                </div>
                <h2 class="item-title">Games</h2>
            </ion-item>

     </ion-list>

	</ion-content>
</ion-view>


 