<ion-view>
	<ion-content >
		<ion-list can-swipe="false" >
            <ion-item class="item-thumbnail-left  item-icon-right ">
            <img src="img/docs/mcfly.jpg" />
             <h2 class="item-me-text">Venkman</h2>
	        <p>Back off, man. I'm a scientist.</p>
	        <i class="icon ion-grid" style="float:right;"></i>
            </ion-item>

            <div class="item-divider item-sm-divider"></div>
                           <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-information-circled"></i>
                </div>
                <h2 class="item-title">My Posts</h2>
            </ion-item>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-cube"></i>
                </div>
                <h2 class="item-title">Favorities</h2>
            </ion-item>

            <div class="item-divider item-sm-divider"></div>
                           <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-email"></i>
                </div>
                <h2 class="item-title">Wallet</h2>
            </ion-item>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-folder"></i>
                </div>
                <h2 class="item-title">Cards & Offers</h2>
            </ion-item>

                        <div class="item-divider item-sm-divider"></div>
            </ion-item>
                     <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-happy"></i>
                </div>
                <h2 class="item-title">Sticker Gallery</h2>
            </ion-item>

            <div class="item-divider item-sm-divider"></div>
                <ion-item class="rj-item ">
                <div class="rj-contacts-pic rj-orange-bgc">
                    <i class="ion-nuclear"></i>
                </div>
                <h2 class="item-title">Setting</h2>
            </ion-item>
          </ion-list>
	</ion-content>
</ion-view>

